.btn .far {
    font-size: 36px;
}

.btn p {
    margin-bottom: 0px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    text-align: center;
    padding-right: 0px;
}

#emailBtn {
    border: 3px solid #5cb85c;
}

/* #emailBtn p {
    color: #5cb85c;
} */

#emailBtn i {
    color: #5cb85c;
}

#smsBtn {
    border: 3px solid #0275d8;
}

/* #smsBtn p {
    color: #0275d8;
} */

#smsBtn i {
    color: #0275d8;
}

label {
    font-size: 14px;
    font-family: 'Courier New', Courier, monospace;
}