hr {
    margin-top: 5px;
}

i {
    margin: 5px;
    font-size: 20px;
}

#artwaveContent {
    font-family: 'Courier New', Courier, monospace;
    font-size: 13px;
    text-align: justify;
    /* overflow: auto; */
}

/* #artwaveContent::-webkit-scrollbar {
    width: .5em;
  }
  
#artwaveContent::-webkit-scrollbar-track {
-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

#artwaveContent::-webkit-scrollbar-thumb {
background-color: darkslategray;
outline: 1px solid slategrey;
} */

#artwaveLogin, #artwaveReg {
    width: 100%;
    box-shadow: -1px 3px 5px rgba(0, 0, 0, 0.308);
}

#artwaveReg {
    width: 100%;
}

#artwave {
    height: 100%;
}