i {
    margin: 5px;
    font-size: 20px;
    /* color: #912929; */
    /* color: #802424; */
}

.linkIcons {
    display: inline;
}

#title {
    font-size: 24px;
    font-weight: 400;
    margin: 5px;
    /* color: #802424; */
}

