#backBtn {
    width: 80px;
    /* text-align: center; */
    padding-bottom: 0px;
    padding-top: 0px;
    margin-bottom: 12px;
    border: 1px solid #0275d8;
}

.btn.btn-sm {
    /* margin-bottom: 12px;
    border: 1px solid #0275d8; */
}

#smsHeader {
    display: inline;
    color: #0275d8;
}

.btn.btn-sm .fas {
    color: #0275d8;
    font-size: 20px;
}

input {
    width: 100%;
}

input, textarea.form-control {
    font-size: 14px;
}