.btn.btn-md {
  /* font-size: 14px; */
  padding: 5px;
}

button {
  /* width: 90%; */
}

#projectDesc {
  height: 85vh;
  /* overflow: auto; */
  box-shadow: -1px 3px 5px rgba(0, 0, 0, 0.308);
  margin-bottom: 15px;
}

/* #projectDesc::-webkit-scrollbar {
  width: .5em;
}

#projectDesc::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
#projectDesc::-webkit-scrollbar-thumb {
background-color: darkslategray;
outline: 1px solid slategrey;
} */

#projectContent {
  /* height: 85vh; */
  height: 90%;
  overflow: auto;
  /* box-shadow: -1px 3px 5px rgba(0, 0, 0, 0.308); */
  /* margin-bottom: 15px; */
}

#projectContent::-webkit-scrollbar {
  width: .5em;
}

#projectContent::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
#projectContent::-webkit-scrollbar-thumb {
background-color: darkslategray;
outline: 1px solid slategrey;
}

#topHr {
  margin-bottom: 5px;
  margin-top: 12px;
}

#aw, #aw2 {
  color: #802424;
}

#cp, #cp2 {
  color: #006400;
}

#spawtted {
  color: #000080;
}

#cc {
  color: #ffa500;
}

#aw:hover, #aw2:hover {
  border: solid 1px #802424;
}

#cp:hover, #cp2:hover {
  border: solid 1px darkgreen;
}

#spawtted:hover {
  border: solid 1px navy;
}

#cc:hover {
  border: solid 1px orange;
}

#pf:hover {
  border: solid 1px black;
}

#insideAbout {
  padding-left: 15px;
  padding-right: 15px;
  border-top: 1px solid darkslategray;
  /* border-right: 1px solid darkslategray; */
  box-shadow: -1px 3px 5px rgba(0, 0, 0, 0.308);
}

#insideAbout2 {
  width: 100%;
  /* height: 400px; */
  height: 40vh;
  overflow: auto;
}

#aboutText {
  /* overflow: auto; */
}

/* #insideAbout2 p {
  text-align: center;
  font-size: 24px;
  font-weight: 400;
  color: darkslategray;
  margin-bottom: 0px;
  margin-left: 5px;
} */

h4 {
  /* font-size: 24px; */
  font-weight: 400;
  color: darkslategray;
  margin-bottom: 0px;
  margin-left: 5px;
  padding-top: 7px;
  /* border-top: 1px solid darkslategray; */
}

#projectsHeader {
  border-top: 1px solid darkslategray;
}

.btn.btn-md.btn-success {
  width: 100%;
}

/* .modal-content {
  height: 250px;
} */

.modal-content h4 {
  border-top: none;
}

#projectButtons {
  margin-bottom: 15px;
}

.bioButtons {
  margin-bottom: 15px;
}

#contactBtn {
  margin-top: 15px;
}

#projectContent p {
  font-family: 'Courier New', Courier, monospace;
  padding-right: 10px;
}